{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>

                <p>This came from the template: {{index .StringMap "test"}}</p>

                <p>
                {{ if ne (index .StringMap "remote_ip") ""}}
                    Your remote ip is {{index .StringMap "remote_ip"}}
                {{ else }}
                    Unknown remote ip
                {{ end }}
                </p>
            </div>
        </div>
    </div>
{{end}}
