{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is a homepage</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias aperiam atque earum enim explicabo incidunt inventore ipsam iusto libero nihil, officiis qui repellat soluta tempora veniam veritatis voluptates?</p>
                <p>Additional text</p>
            </div>
        </div>
    </div>
{{end}}
